body {
  font-family: helvetica;
  background: linear-gradient(
    90deg,
    hsl(0deg 0% 39%) 0%,
    hsl(260deg 17% 39%) 15%,
    hsl(260deg 33% 38%) 21%,
    hsl(260deg 50% 37%) 26%,
    hsl(260deg 67% 37%) 29%,
    hsl(260deg 84% 36%) 33%,
    hsl(260deg 100% 35%) 35%,
    hsl(266deg 85% 46%) 38%,
    hsl(273deg 70% 56%) 40%,
    hsl(280deg 55% 65%) 42%,
    hsl(287deg 39% 75%) 44%,
    hsl(293deg 23% 86%) 46%,
    hsl(300deg 9% 96%) 48%,
    hsl(270deg 20% 88%) 50%,
    hsl(242deg 30% 80%) 52%,
    hsl(212deg 41% 73%) 54%,
    hsl(183deg 51% 65%) 57%,
    hsl(154deg 61% 58%) 59%,
    hsl(124deg 72% 50%) 62%,
    hsl(137deg 60% 48%) 64%,
    hsl(151deg 49% 46%) 68%,
    hsl(164deg 37% 44%) 72%,
    hsl(177deg 25% 42%) 77%,
    hsl(191deg 14% 39%) 84%,
    hsl(204deg 3% 37%) 100%
  );
  color: white;
  text-align: center;
}